.feed-container {
  display: inline-block;
}

.card {
  width: 300px;
  height: 75px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

#card-template {
  display: none;
}

p {
  display: inline-block;
  padding: 8px 7px 0 10px;
  margin: 0;
}

.ip {
  color: black;
}
